.optionalBlock {
    width: 100%;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nestedIfThenElse {
    width: 86%;
}

.nestedBlock {
    width: 100%;
}

.deleteButton {
    margin: 5px 20px;
}

.blockName {
    margin: 5px 0;
}

.blockWithNested {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}