.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.label {
    font-size: 10px;
    transform: translateY(13px);
    margin-left: 4px;
    opacity: 0.5;
}

.input {
    height: 35px;
    padding: 5px;
}